<table id="tlayout">
  <tr valign="top">
    <td id="layout-menu">
      <img src="/assets/TT.png" style="width: 80px; height: auto; display: inline">
      <div class="menu-category"><a href="/">MATH 2450 </div>
      <div class="menu-item {{ispage index.html}}current{{end}}"> Calculus III </a></div>
       <div style="opacity: 0.85; font-weight: bold; margin-bottom: 0.5em">Spring 2021</div>
    <div class="menu-category"> Course content </div>
      <div class="menu-item {{ispage menu1/*}}current{{end}}"><a href="/menu1/">Announcements</a></div>
      <div class="menu-item {{ispage menu2/*}}current{{end}}"><a href="/menu2/">Class Notes</a></div>
      <div class="menu-item {{ispage menu3/*}}current{{end}}"><a href="/menu3/">WebWork</a></div>
    </td>
    <td id="layout-content">
